{% extends 'base.html' %}
{% load static %}

{% block title %}Submit Review - Kitchen Garden{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row mb-4 text-center">
        <div class="col">
            <h2>Submit Your Review</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.rating.label_tag }}
                    <div class="star-rating">
                        {% for value in "54321" %}
                            <input type="radio" id="star{{ value }}" name="rating" value="{{ value }}" {% if form.rating.value == value|stringformat:"s" %}checked{% endif %}>
                            <label for="star{{ value }}" class="fa fa-star"></label>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.comment.label_tag }}
                    {{ form.comment }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
