{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block title %}Edit Product{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col text-center">
            <h2>Edit Product</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary btn-custom-width">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
