{% extends 'base.html' %}

{% block title %}Contact Us - Kitchen Garden{% endblock %}

{% block content %}
<h2>Contact Us</h2>
<p>If you have any questions or need assistance, feel free to reach out to us through the following means:</p>

<div class="contact-info">
    <h5>Email:</h5>
    <p>support@kitchengarden.com</p>

    <h5>Phone:</h5>
    <p>+123 456 7890</p>

    <h5>Address:</h5>
    <p>123 Garden Lane, Green City, GA 12345</p>

    <h5>Social Media:</h5>
    <p>
        <a href="https://www.facebook.com/profile.php?id=61569920438917" target="_blank" rel="nofollow noreferrer" class="btn btn-primary btn-sm"><i class="fab fa-facebook-f"></i> Facebook</a>
        <a href="#" class="btn btn-info btn-sm"><i class="fab fa-twitter"></i> Twitter</a>
        <a href="#" class="btn btn-danger btn-sm"><i class="fab fa-instagram"></i> Instagram</a>
    </p>
</div>
{% endblock %}

